<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>ConvoHub</title>
</head>
<body>
  
  <div class="relative p-10">
    <header class="mb-10 w-150 m-auto">
      <span class="flex gap-10">
        <a href="/message/form" class="bg-purple-500 text-white rounded py-1 font-semibold px-3">Write message</a>
        <a href="/upgrade" class="bg-purple-500 text-white rounded py-1 font-semibold px-3 w-30 text-center <%= currentUser.membership ? 'hidden' : '' %>">Upgrade</a>
      </span>

      <p class="m-auto mt-5 font-semibold text-lg text-white"><%= currentUser.membership ? '' : 'Upgrade to see users' %></p>
      
      <a href="/logout" class="absolute right-5 top-5 bg-red-500 text-white rounded py-1 font-semibold px-3">Logout</a>
    </header>

    <% if (messages.length !== 0) { %>
      <% messages.forEach(message => { %>
    
        <div class="border m-auto rounded-xl mt-8 p-5 w-150">
          <span class="flex justify-between mb-1">
            <span class="flex gap-1">
              <p class="font-semibold <%= currentUser.membership ? '' : 'blur-[3px]' %>"><%= message.firstname %></p>
              <p class="font-semibold <%= currentUser.membership ? '' : 'blur-[3px]' %>"><%= message.lastname %></p>
              <p class="text-purple-400 <%= currentUser.membership ? '' : 'blur-[3px]' %>">@<%= message.username %></p>
            </span>
            
            <p class="<%= currentUser.membership ? '' : 'blur-[3px]' %>"><%= new Date(message.created_at).toLocaleString() %></p>
          </span>
          <p class="text-yellow-400 font-semibold text-lg"><%= message.title %></p>
          <p><%= message.message %></p>
        </div>
      <% }); %>
    <% } else { %>
      <p class="text-center">There's no message here.</p>
    <% } %>
  </div>

</body>
</html>